---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/ui/Link.astro";
---

<BaseLayout pageTitle="Brett Baisley | Not Found">
    <div class="text-center">
    <h3 class="text-gray-800 mb-8">Error: Page Not Found</h3>
    <h2 class="text-8xl text-black mb-8">404</h2>
    <p class="text-gray-500 mb-8">Sorry, but we can't find the page you are looking for.</p>
        <Link href="/" class="">Return to the home page</Link>
    </div>
</BaseLayout>