---
---

<aside class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <div class="p-12 flex flex-col md:flex-row items-center justify-center text-center text-2xl">
        <p class="text-white mb-8 md:mr-8 md:mb-0">Want to know more?</p>
        <a class="bg-blue-700 rounded-xl text-white text-sm p-4 w-fit" href="/assets/brett-baisley-resume.docx">Download My Resume</a>
    </div>
</aside>