---
import Contact from './Contact.astro'
---

<footer class="px-4 py-12 bg-gray-900 text-gray-200 flex flex-col-reverse md:flex-row gap-8 items-center justify-between">
    <div class="">
      <h3 class="text-4xl text-center">Navigation</h3>
      <ul class="mt-8">
        <li><a href="#whatido">What I Do</a></li>
        <li><a href="#highlights">Highlights</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#mystory">My Story</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#top">Back to Top</a></li>
      </ul>
    </div>

    <Contact />
  </footer>