---
---


<section id="genai" class="px-4 py-12 bg-[#002b51]">
    <div class="max-w-5xl mx-auto text-white text-center">
        <h2 class="text-xl text-center">✨ Our team was awarded the<br><i>Morgan Stanley 2024 GenAI Hackathon - People's Choice Winner!</i></h2>
        <a href="https://baisley.dev/blog/2024-genai-hackathon-winner/" class="inline-flex items-center bg-[#187aba] p-4 mt-8 rounded-lg text-white">Find out more!</a>
    </div>
</section>