---
---

<section class="my-20 text-center">
    <h2 class="m-15">Software Production Management & Reliability Engineering Manager</h2>
    <h1 class="text-7xl tracking-tight">Hello, I'm&nbsp;Brett.</h1>
    <p class="mt-15 text-2xl text-slate-600">Turning Tech Headaches into High-Fives, One Script at a Time.</p>
    <div class="mt-15 ">
        <a href="#contact-form" class="bg-blue-500 p-4 rounded-lg text-white">Contact Me</a>
        <a href="#whatido" class="border border-solid border-blue-500 p-4 rounded-lg text-blue-500">Learn More</a>
    </div>
</section>