---
const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="canonical" href="https://baisley.dev" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Brett Baisley's personal blog. Created in Astro, this is a place to share some random thoughts with the rest of the world." />
    <meta name="author" content="Brett Baisley" />
    <meta name="keywords" content="astro, blog, personal, brett, baisley" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#0f1419">
    <meta charset="utf-8"> 
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>