---
import { getEntry } from "astro:content";
const { post } = Astro.props;
const authorData = await getEntry("authors", post.data.author.id);

---

<li>
  {console.log(post)}
  <a href={post.id}>
    {post.data.title}
  </a>
  <p>By: {authorData && authorData.data.first_name} {authorData && authorData.data.last_name}</p>
  <p>Published on: {post.data.publish_date ? new Date(post.data.publish_date).toISOString().slice(0, 10) : ''}</p>
</li>
