---
import { getCollection } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";


export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  // For a catch-all route (`[...page].astro`) Astro expects the param value
  // to be an array. Provide one-segment arrays containing the post slug so
  // each post gets its own page at /blog/<slug>.
  return allPosts.map((post) => ({
    // Use `id` from the collection entry as the slug/identifier.
    params: { page: [post.id] },
    props: { slug: post.id },
  }));
}


---



<MarkdownPostLayout>
<p>Blog Post Page to be filled in here</p>
</MarkdownPostLayout>